
$vue-multiselect-padding-x: $custom-select-padding-x !default;
$vue-multiselect-padding-y: $custom-select-padding-y !default;
$vue-multiselect-min-height: $custom-select-height !default;
$vue-multiselect-border-radius: $mg-border-radius !default;
$vue-multiselect-border-color: $custom-select-border-color !default;
$vue-multiselect-border-width: 1px !default;
$vue-multiselect-disabled-opacity: $btn-disabled-opacity !default;
$vue-multiselect-placeholder-color: $text-muted !default;
$vue-multiselect-bg: $custom-select-bg !default;
$vue-multiselect-color: $custom-select-color !default;
$vue-multiselect-disabled-bg: $custom-select-disabled-bg !default;
$vue-multiselect-disabled-color: $custom-select-disabled-color !default;

$vue-multiselect-option-selected-bg: #f3f3f3 !default;
$vue-multiselect-option-selected-color: $body-color !default;
$vue-multiselect-option-highlight-color: #fff !default;
$vue-multiselect-option-highlight-bg: theme-color('primary') !default;
$vue-multiselect-option-selected-highlight-color: #fff !default;
$vue-multiselect-option-selected-highlight-bg: theme-color('secondary') !default;

$vue-multiselect-tag-color: color-yiq(theme-color('primary')) !default;
$vue-multiselect-tag-bg: theme-color('primary') !default;
$vue-multiselect-tag-font-size: $badge-font-size !default;
$vue-multiselect-tag-font-weight: normal !default;
$vue-multiselect-tag-icon-size: 1.7rem !default;
$vue-multiselect-tag-icon-color: $vue-multiselect-tag-color !default;
$vue-multiselect-tag-icon-color-hover: white !default;
$vue-multiselect-tag-icon-bg-hover: $danger !default;
$vue-multiselect-tag-padding-x: 0.4rem !default;
$vue-multiselect-tag-padding-y: 0.25rem !default;
$vue-multiselect-tag-border-radius: $badge-border-radius !default;

$vue-multiselect-arrow-color: $custom-select-color !default;
$vue-multiselect-arrow-size: 5px !default;
$vue-multiselect-arrow-padding: 8px !default;

$vue-multiselect-spinner-size: 16px !default;
$vue-multiselect-spinner-thickness: 2px !default;
$vue-multiselect-spinner-margin: -$vue-multiselect-spinner-size/2 !default;
$vue-multiselect-spinner-color: $dark !default;

// --------------------------------
// Select field
//--

fieldset[disabled] .multiselect {
    pointer-events: none;
}

.multiselect,
.multiselect__input,
.multiselect__single {
    font-family: inherit;
    font-size: inherit;
    touch-action: manipulation; 
}

.multiselect {
    box-sizing: content-box;
    color: $vue-multiselect-color;
    display: block;
    min-height: $vue-multiselect-min-height;
    position: relative;
    text-align: left;
    width: 100%;

    & * {
        box-sizing: border-box;
    }

    &:focus {
        outline: none;
    }
}

.multiselect--disabled {
    opacity: $vue-multiselect-disabled-opacity;
    pointer-events: none;
}

.multiselect--active {
    z-index: 50;

    &:not(.multiselect--above) .multiselect__current,
    &:not(.multiselect--above) .multiselect__input,
    &:not(.multiselect--above) .multiselect__tags {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    & .multiselect__select {
        transform: rotateZ(180deg);
    }
}

.multiselect--above.multiselect--active .multiselect__current,
.multiselect--above.multiselect--active .multiselect__input,
.multiselect--above.multiselect--active .multiselect__tags {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.multiselect__input,
.multiselect__single {
    background: $vue-multiselect-bg;
    border: none;
    border-radius: $vue-multiselect-border-radius;
    box-sizing: border-box;
    color: $mg-color-text;
    display: inline-block;
    line-height: $vue-multiselect-min-height / 2;
    margin-bottom: $vue-multiselect-padding-y;
    min-height: $vue-multiselect-min-height / 2;
    padding: 0 0 0 $vue-multiselect-padding-x;
    position: relative;
    transition: border 0.1s ease;
    vertical-align: top;
    width: calc(100%);
}

.multiselect__input::placeholder {
    color: $vue-multiselect-placeholder-color;
}

.multiselect__tag ~ .multiselect__input,
.multiselect__tag ~ .multiselect__single {
    width: auto;
}

.multiselect__input:hover,
.multiselect__single:hover {
    border-color: #cfcfcf;
}

.multiselect__input:focus,
.multiselect__single:focus {
    border-color: #a8a8a8;
    outline: none;
}

.multiselect__single {
    margin-bottom: $vue-multiselect-padding-y;
    padding-left: $vue-multiselect-padding-x;
}

.multiselect__tags-wrap {
    display: inline;
}

.multiselect__tags {
    background: $vue-multiselect-bg;
    border: $vue-multiselect-border-width solid $vue-multiselect-border-color;
    border-radius: $vue-multiselect-border-radius;
    display: block;
    font-family: inherit;
    font-size: inherit;
    min-height: $vue-multiselect-min-height;
    padding: $vue-multiselect-padding-y $vue-multiselect-min-height 0 $vue-multiselect-padding-y;
}

.multiselect__tag {
    background: $vue-multiselect-tag-bg;
    border-radius: $vue-multiselect-tag-border-radius;
    color: $vue-multiselect-tag-color;
    display: inline-block;
    font-size: $vue-multiselect-tag-font-size;
    font-weight: $vue-multiselect-tag-font-weight;
    margin-right: $vue-multiselect-tag-padding-x;
    max-width: 100%;
    overflow: hidden;
    padding: $vue-multiselect-tag-padding-y ($vue-multiselect-tag-icon-size + $vue-multiselect-tag-padding-x) $vue-multiselect-tag-padding-y $vue-multiselect-tag-padding-x;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.multiselect__tag-icon {
    bottom: 0;
    cursor: pointer;
    font-size: $vue-multiselect-tag-font-size;
    font-style: initial;
    font-weight: $vue-multiselect-tag-font-weight;
    line-height: 1.2;
    margin-left: $vue-multiselect-tag-padding-y;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.2s ease;
    width: $vue-multiselect-tag-icon-size;
}

.multiselect__tag-icon::after {
    color: $vue-multiselect-tag-icon-color;
    content: '\d7';
    font-size: 220%;
}

// .multiselect__tag-icon:focus,
// .multiselect__tag-icon:hover {
//     background: $vue-multiselect-tag-icon-bg-hover;
// }

.multiselect__tag-icon:focus::after,
.multiselect__tag-icon:hover::after {
    color: $vue-multiselect-tag-icon-color-hover;
}

.multiselect__current {
    border: 1px solid $vue-multiselect-border-color;
    border-radius: $vue-multiselect-border-radius;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    line-height: $vue-multiselect-min-height / 2;
    margin: 0;
    min-height: $vue-multiselect-min-height;
    overflow: hidden;
    padding: 8px 30px 0 12px;
    text-decoration: none;
    white-space: nowrap;
}

.multiselect__select {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: $vue-multiselect-min-height;
    line-height: $vue-multiselect-min-height / 2;
    margin: 0;
    padding: ($vue-multiselect-arrow-padding) $vue-multiselect-arrow-padding;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 0;
    transition: transform 0.2s ease;
    width: $vue-multiselect-min-height;
}

.multiselect__select::before {
    border-color: $vue-multiselect-arrow-color transparent transparent transparent;
    border-style: solid;
    border-width: $vue-multiselect-arrow-size $vue-multiselect-arrow-size 0 $vue-multiselect-arrow-size;
    color: $vue-multiselect-arrow-color;
    content: '';
    position: relative;
    right: 0;
    top: 50%;
}

.multiselect__placeholder {
    color: $vue-multiselect-placeholder-color;
    display: inline-block;
    margin-bottom: 10px;
    padding-top: 2px;
}

.multiselect--active .multiselect__placeholder {
    display: none;
}

.multiselect__content-wrapper {
    background: $vue-multiselect-bg;
    border: $vue-multiselect-border-width solid $vue-multiselect-border-color;
    border-bottom-left-radius: $vue-multiselect-border-radius;
    border-bottom-right-radius: $vue-multiselect-border-radius;
    border-top: none;
    display: block;
    max-height: 240px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    width: 100%;
    z-index: 50;
}

.multiselect__content {
    display: inline-block;
    list-style: none;
    margin: 0;
    min-width: 100%;
    padding: 0;
    vertical-align: top;
}

.multiselect--above .multiselect__content-wrapper {
    border-bottom: none;
    border-radius: $vue-multiselect-border-radius $vue-multiselect-border-radius 0 0;
    border-top: $vue-multiselect-border-width solid $vue-multiselect-border-color;
    bottom: 100%;
}

.multiselect__content::webkit-scrollbar {
    display: none;
}

.multiselect__element {
    display: block;
}

.multiselect__option {
    cursor: pointer;
    display: block;
    line-height: $vue-multiselect-min-height / 2;
    min-height: $vue-multiselect-min-height;
    padding: $vue-multiselect-padding-y $vue-multiselect-padding-x;
    position: relative;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    white-space: nowrap;
}

.multiselect__option::after {
    font-family: inherit;
    font-size: inherit;
    line-height: $vue-multiselect-min-height;
    padding-left: 20px;
    padding-right: 12px;
    position: absolute;
    right: 0;
    top: 0;
}

.multiselect__option--highlight {
    background: $vue-multiselect-option-highlight-bg;
    color: $vue-multiselect-option-highlight-color;
    outline: none;
}

.multiselect__option--highlight::after {
    background: $vue-multiselect-option-highlight-bg;
    color: $vue-multiselect-option-highlight-color;
    content: attr(data-select);
}

.multiselect__option--selected {
    background: $vue-multiselect-option-selected-bg;
    color: $vue-multiselect-option-selected-color;
    font-weight: bold;
}

.multiselect__option--selected::after {
    color: silver;
    content: attr(data-selected);
}

.multiselect__option--selected.multiselect__option--highlight {
    background: $vue-multiselect-option-selected-highlight-bg;
    color: $vue-multiselect-option-selected-highlight-color;
}

.multiselect__option--selected.multiselect__option--highlight::after {
    background: $vue-multiselect-option-selected-highlight-bg;
    color: $vue-multiselect-option-selected-highlight-color;
    content: attr(data-deselect);
}

.multiselect--disabled {
    background: $vue-multiselect-disabled-bg;
    pointer-events: none;
}

.multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select {
    background: $vue-multiselect-disabled-bg;
    color: $vue-multiselect-disabled-color;
}

.multiselect__option--disabled {
    background: $vue-multiselect-disabled-bg;
    color: $vue-multiselect-disabled-color;
    cursor: text;
    pointer-events: none;
}

.multiselect__option--group {
    background: $vue-multiselect-disabled-bg;
    color: $vue-multiselect-disabled-color;

    &.multiselect__option--highlight {
        background: $vue-multiselect-disabled-color;
        color: $vue-multiselect-disabled-bg;
    }

    &.multiselect__option--highlight::after {
        background: $vue-multiselect-disabled-color;
    }
}

.multiselect__option--disabled.multiselect__option--highlight {
    background: $vue-multiselect-disabled-bg;
}

.multiselect__option--group-selected.multiselect__option--highlight {
    background: $vue-multiselect-option-selected-highlight-bg;
    color: $vue-multiselect-option-selected-highlight-color;
}

.multiselect__option--group-selected.multiselect__option--highlight::after {
    background: $vue-multiselect-option-selected-highlight-bg;
    color: $vue-multiselect-option-selected-highlight-color;
    content: attr(data-deselect);
}

.multiselect-enter-active,
.multiselect-leave-active {
    transition: all 0.15s ease;
}

.multiselect-enter,
.multiselect-leave-active {
    opacity: 0;
}

.multiselect__strong {
    display: inline-block;
    line-height: $vue-multiselect-min-height/2;
    margin-bottom: $vue-multiselect-padding-y;
    vertical-align: top;
}

// --------------------------------
// Spinner
//--

.multiselect__spinner {
    display: block;
    height: $vue-multiselect-min-height;
    position: absolute;
    right: 0;
    top: 0;
    width: $vue-multiselect-min-height;

    &::before,
    &::after {
        background: $vue-multiselect-bg;
        border: $vue-multiselect-spinner-thickness solid transparent;
        border-radius: 100%;
        border-top-color: $vue-multiselect-spinner-color;
        box-shadow: 0 0 0 1px transparent;
        content: '';
        height: $vue-multiselect-spinner-size;
        left: 50%;
        margin: $vue-multiselect-spinner-margin 0 0 $vue-multiselect-spinner-margin;
        position: absolute;
        top: 50%;
        width: $vue-multiselect-spinner-size;
    }

    &::before {
        animation: spinning 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
        animation-iteration-count: infinite;
    }

    &::after {
        animation: spinning 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
        animation-iteration-count: infinite;
    }
}

@keyframes spinning {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(2turn);
    }
}

// --------------------------------
// Loading state
//--

.multiselect__loading-enter-active,
.multiselect__loading-leave-active {
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
}

.multiselect__loading-enter,
.multiselect__loading-leave-active {
    opacity: 0;
}

// --------------------------------
// RTL adjustments
//--

*[dir='rtl'] {
    .multiselect {
        text-align: right;
    }

    .multiselect__select {
        left: 1px;
        right: auto;
    }

    .multiselect__tags {
        padding: $vue-multiselect-padding-y $vue-multiselect-padding-y 0 $vue-multiselect-min-height;
    }

    .multiselect__content {
        text-align: right;
    }

    .multiselect__option::after {
        left: 0;
        right: auto;
    }

    .multiselect__clear {
        left: 12px;
        right: auto;
    }

    .multiselect__spinner {
        left: 1px;
        right: auto;
    }
}

// @see https://github.com/shentao/vue-multiselect/issues/718#issuecomment-471195859

.multiselect__placeholder {
    color: $vue-multiselect-placeholder-color;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 12px;
    padding-top: 0;
}

// is-valid / is-invalid state handling
// @see node_modules/bootstrap/scss/_forms.scss:262
@each $state, $data in $form-validation-states {
    $color: map-get($data, color);
    $icon: map-get($data, icon);
    .form-group.is-#{$state} .multiselect__tags {
        border-color: $color;

        @if $enable-validation-icons {
            padding-right: $custom-select-feedback-icon-padding-right;
            background: escape-svg($icon) $custom-select-bg no-repeat $custom-select-feedback-icon-position / $custom-select-feedback-icon-size;
        }

        &:focus {
            border-color: $color;
            box-shadow: 0 0 0 $input-focus-width rgba($color, 0.25);
        }
    }
}
